#imageTest {
  background-image: url('../images/menu.jpg');
  background-size: cover;
  opacity: 0.8;
  height: 700px;
  padding: 0;
}

.resto-heading {
  font-size: 72px;
}

.resto-heading-cont {
  min-height: 700px;
}

.resto-heading-padding{
  padding-top: 35%;
}

#map1, #map2 {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .zoom {
    transition: transform 0.6s;
  }
  .zoom:hover {
    transform: scale(1.5, 1.5);
    z-index: 20;
  }
  #map1, #map2 {
    width: 400px;
  }
}

.wine {
  background-image: url('../images/wines.jpeg');
  background-size: cover;
}

.gallery {
  background-image: url('../images/gallery.jpg');
  background-size: cover;
}

.bg-wood {
  background-image: url('../images/wood-texture.jpg');
  background-size: cover;
  color: #FDFEB3;
}

.font-cursive {
  font-family: 'Pinyon Script', cursive;
}

.bg-creme {
  background-color: #FFFADB;
}

.bg-grey {
  background-color: rgba(0,0,0,0.2);
}
